/* default layout (all pages) */

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6b7280;
    font-size: 0.25rem;
    padding: 0px 2px;
  }

  .nav {
    display: flex;
    flex-basis: auto;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav a {
    text-decoration: none;
    font-weight: bold;
    color: #6b7280;
    font-size: 0.95rem;
    padding: 1.5rem;
  }

  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
  }
  
  .link a:hover, 
  .link a:focus, 
  .link a:active {
    text-decoration: underline;
  }
  
.logo {
  height: 2em;
  padding: 0px 8px;
}

.logofooter {
  height: 2.7em;
  padding: 0px 3px;
}

.backTo {
  margin: 3rem 0 0;
  font-weight: bold;
}

.backTo a {
  color: #0070f3;
  text-decoration: none;
}

.backTo a:hover {
  text-decoration: underline;
}